<div class="container">
  <h1>Blogger</h1>

<ul>
  <li><a href="#" title=""> I Love posts!</a></li>
   <li><a href="#" title=""> New posts</a></li>
    <li><a href="#" title=""> I Love asdasd</a></li>
</ul>

</div>
